* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap (https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap)'
);

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-align: right;
}





body {

    font-family: 'Nunito Sans', sans-serif;
    color: #333;
    font-weight: 500;
}

header {

    text-align: center;
    font-size: 3rem;

    background-color: green;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}

nav ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 2rem;
}

nav ul:first-child {
    float: left;
}

nav ul li a {
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

article {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



table td {
    width: 30em;
    border: 1px solid black;


}

table {
    text-align: center;
}

th {
    text-align: center;
}

#lizard-b {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: cadetblue;

}

footer ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li {
    list-style: none;
    margin: 0 2rem;

}

footer ul li a {
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

footer ul:first-child {
    float: left;
}