* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap (https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap)'
);

h1 {
    font-size: 5rem;
    text-align: center;
}



html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    color: #333;
}

header {
    text-align: center;
    font-size: 3rem;
    background-color: green;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

}

nav ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 0 2rem;
}

nav ul:first-child {
    float: left;
}

nav ul li a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

article {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



table td {
    width: 20em;
    border: 1px solid black;


}

table {
    text-align: center;
}

th {
    text-align: center;
}

video {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}